.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.form {
  margin: auto;
  margin-top: -1.69rem;
  width: 100%;
  max-width: 736px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 0.5rem;
}

.input {
  height: 3.38rem;
  width: 100%;

  background-color: var(--gray-500);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 0 1rem;
}

.button {
  height: 3.38rem;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--blue-dark);
  color: var(--white);
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
  transition: 0.2s;
}

.taskContainer {
  width: 100%;
  max-width: 736px;
  margin: auto;
  margin-top: 1.5rem;
}

.taskContainer ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
